@font-face {
  font-family: myFirstFont;
  src: url("./font/IRAN\ Sans\ Regular.woff");
  src: url("./font/IRAN\ Sans\ Regular.eot");
  src: url("./font/IRAN\ Sans\ Regular.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "myFirstFont", sans-serif;
}
.app_container {
  min-height: 100vh;
  background-color: #dbebfa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .scale_container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   min-height: 100vh;
//   .box_container {
//     width: 50px;
//     height: 50px;
//     border-radius: 12px;
//     background-color: white;
//   }
// }
// .childdelay_container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   min-height: 100vh;
//   .childdelay_box {
//     border: 3px solid rgb(252, 252, 133);
//     width: 200px;
//   }
// }
// .child_transition_container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   min-height: 100vh;
// }
// .menu_container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   min-height: 100vh;
//   .menu_box {
//     border: 1px solid blue;
//   }
// }

// .apex_chart_container {
//   border-radius: 1rem;
//   box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3);
//   width: 90%;
//   margin: 2rem auto;
//   padding: 1rem;
//   background-color: aliceblue;
//   position: relative;
//   .test_pos {
//     position: relative;
//     height: auto;
//     justify-content: flex-end;
//     text-align: right;
//     right: 0;
//   }
// }
// .apex_chart_container_box {
//   width: 95%;
//   margin: 1rem auto;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   position: relative;
// }

// .apexcharts-yaxis-label {
//   top: 10px;
//   left: 50px;
// }
// #apexchartssimplexbar {
//   padding: 2rem 0;
//   position: relative;
//   // overflow: visible !important;
// }
// .apexcharts-toolbar {
//   left: 0;
//   font-size: 2rem !important;
//   .apexcharts-menu-icon {
//     transform: scale(1.5);
//   }
// }
// .apexcharts-yaxis {
//   // transform: translateX(100px);
// }
// .apexscrollchart_container {
//   width: 100%;
// }
// .table_react_table {
//   width: 100%;
//   padding: 1rem;
//   border: 1px solid red;
// }
// // table {
// //   border-spacing: 0;
// //   border: 1px solid black;

// //   tr {
// //     :last-child {
// //       td {
// //         border-bottom: 0;
// //       }
// //     }
// //   }

// //   th,
// //   td {
// //     margin: 0;
// //     padding: 0.5rem;
// //     border-bottom: 1px solid black;
// //     border-right: 1px solid black;

// //     :last-child {
// //       border-right: 0;
// //     }
// //   }
// //   //HIDE TOP HEADER!
// //   thead tr:first-child {
// //     display: none;
// //   }
// // }
// .lds-dual-ring {
//   display: inline-block;
//   width: 80px;
//   height: 80px;
// }
// .lds-dual-ring:after {
//   content: " ";
//   display: block;
//   width: 64px;
//   height: 64px;
//   margin: 8px;
//   border-radius: 50%;
//   border: 6px solid #fff;
//   border-color: red transparent #fff transparent;
//   animation: lds-dual-ring 1.2s linear infinite;
// }
// @keyframes lds-dual-ring {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .apexcharts-inner {
//   border: 3px solid red;
// }
// .apexcharts-series {
//   // transform: translateX(200px);
// }
// .nivo_parent {
//   border: 2px solid red;
//   height: 500px;
//   width: 100%;
//   padding: 2rem 0;
// }
// .nivo_child {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   input {
//     margin: 2rem 0;
//   }
// }
// .scatter_chart {
//   border: 2px solid red;
//   width: 600px !important;
// }
// .legend_label_container {
//   display: flex;
//   border: 1px solid red;
//   ul {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     li {
//       // margin-right: 5px;
//       min-width: 50px;
//       padding: 3px;
//     }
//   }
// }
// // .chart_bar_color {
// //   fill: blue;
// // }
// //RECHART STYLE
// .legend_class {
//   border: 2px solid red !important;
// }
// .rechart_container {
//   padding: 50px 0;
//   width: 100%;
//   background-color: rgb(229, 245, 248);
// }
.rechart_container_scatter {
  border: 1px solid red;
  width: 100%;
}
// .responsive_rechart {
//   width: 100% !important;
// }
// .recharts-legend-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   ul {
//     width: fit-content;
//     li {
//       padding: 0.5rem;
//       cursor: pointer;
//     }
//   }
//   // width: 100%;
// }
// .wrapper_tooltip {
//   border: 1px solid red !important;
// }
.recharts-cartesian-axis-tick {
  font-size: 12px;
  font-weight: bold;
}

// .scatter_rechart {
//   border: 1px solid red;
//   width: 100% !important;
// }

// //RECHART STYLE END
// .carousel_slick_container {
//   width: 90%;
//   h3 {
//     height: 500px;
//   }
//   // overflow-x: hidden;
// }
// .carousel_child_container {
//   display: grid !important;
//   grid-template-columns: 2fr 4fr 3fr 3fr;
//   gap: 1rem;
//   width: 90% !important;
//   margin: auto;
//   p {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 200px;
//     flex: 1;
//     border: 1px solid red;
//   }
// }
// @media (max-width: 900px) {
//   .carousel_child_container {
//     grid-template-columns: 1fr;
//     // min-height: 200px;
//   }
// }
//table manual
.table_manual_container {
  padding: 3rem;
  width: 90%;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  border-radius: 12px !important;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  .table_manual_box {
    overflow-x: scroll;
  }
  table {
    margin-bottom: 2rem;
    // border: 1px solid red;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid gray;
    width: 100%;

    thead {
      // color: red;
      color: rgb(54, 153, 255);
      text-align: left;
      padding: 0.5rem 0;
      white-space: nowrap;
      tr {
        td {
          padding: 0.5rem;
          border: 1px solid rgb(230, 230, 238);
          font-weight: bold;
          min-width: 100px;
          text-align: center;
          background-color: rgba(54, 153, 255, 0.1);
          // min-width: auto;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #eee;
        }
        &:nth-child(odd) {
          background-color: #fff;
        }
        td {
          padding: 0.75rem 0.5rem;
          border: 1px solid rgb(230, 230, 238);
        }
      }
    }
  }
}
.table_header_input_container {
  // outline: none;
  display: flex;
  flex-direction: column;
  // max-width: inherit;
  > input {
    border: 1px solid #3676ff54;
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
    //THIS STYLE WILL REDUCE WIDTH TO 100%-DEFAULT HAS MORE WIDTH!
    // width: 100%;
    //
    &:focus {
      border: 1px solid #3677ff;
    }
  }
}
.table_show_columns_container {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 0;
}
.table_select_container {
  // flex: 1;
  // max-width: 400px;
  min-width: 200px;
  margin-left: auto;
}
.table_paginator_container {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
}
.table_dropdown_container {
  display: flex;
  flex: 1;
}
.table_paginator_page_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  // border: 1px solid red;
  margin-right: 5px;
  font-size: 0.9rem;
  > span {
    padding: 0 3px;
  }
}
.table_page_info_container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  // font-weight: 600;
  line-height: 18px;
}
.tdw_animation {
  overflow: hidden;
  width: 0;
  // border: 2px solid red;
  div {
    // transform: translateX(-100%);
    animation: 0.8s ease-in-out animate forwards;
    transform: translateX(-100%) scaleX(0.8);
    border-radius: 0 6px 6px 0;
  }
}
@keyframes animate {
  0% {
    transform: translateX(-100%) scaleX(0.8);
  }
  50% {
    transform: translateX(0%) scaleX(1.1);
  }
  70% {
    transform: translateX(5%) scaleX(1.2);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

.table_paginator_goto {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border: 1px solid red;
  > input {
    padding: 6px;
    border: 1px solid #3699ff;
    border-radius: 4px;
    outline: none;
    max-width: 70px;
    &:focus {
      border: 1px solid #3677ff;
    }
  }
  > button {
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #3699ff;
    color: white;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
    cursor: pointer;
    &:hover {
      background-color: #3677ff;
    }
  }
}
.table_paginator_total_page_container {
  margin: 0 0.5rem;
  font-size: 0.9rem;
}
.table_paginator_next_prev {
  // border: 1px solid red;
}
.table_paginator_next_prev_container {
  position: relative;
  // border: 2px solid red;
  // width: 60px;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: row-reverse;
}
.arrow_right_icon_table {
  // position: absolute;
  // left: 30px;
  font-size: 28px;
  color: #3699ff;
  margin-left: 5px;

  cursor: pointer;
  &:hover {
    color: #3677ff;
  }
}
.arrow_left_icon_table {
  // position: absolute;
  // left: 0;
  margin-right: 5px;

  font-size: 28px;
  color: #3699ff;

  cursor: pointer;
  &:hover {
    color: #3677ff;
  }
}
.table_paginator_page_number {
  padding: 0.3rem 0.6rem;
  height: fit-content;
  border-radius: 4px;
  color: white;
  background-color: #3699ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_accept_btn_container {
  margin-right: 5px;
  > button {
    border: none;
    outline: none;
    background-color: #3699ff;
    color: white;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: #3677ff;
    }
  }
}
.table_show_columns_container_disable {
  display: none;
}
//TableM
.td_container {
}
//GIVE FIT CONTENT FOR ALL FIRST COLUMNS
td {
  &:first-of-type {
    white-space: nowrap;
  }
}

.t_data_container {
  position: relative;
  overflow: hidden;
  &:hover {
    .animated_data_table {
      transition: 0.3s ease opacity;
      opacity: 0;
    }
    .table_heat_row_percent {
      transition: 0.3s ease opacity;
      opacity: 1;
    }
  }
}
.t_data_animate {
  animation: 0.8s ease-in-out animate forwards;
  transform: translateX(-100%) scaleX(0.8);
  border-radius: 0 6px 6px 0;
}
.animated_data_table {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s ease opacity;
}
.t_heat_data {
}
@keyframes row-heat {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.td_heat_container {
  position: relative;
  padding: 1rem !important;
}
.td_heat_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  animation: 0.5s row-heat linear forwards;
  animation-delay: 0.5s;
  transform: scale(0);

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    // font-weight: 500;
    font-family: "Roboto";
  }
}
.sort_table_icon {
  color: gray;
  margin-left: -5px;
  // font-size: 12px;
  &:hover {
    cursor: pointer;
    color: rgb(54, 153, 255);
  }
}
.t_data_animate_container {
  height: 100%;
  position: relative;
  padding: 0 !important;
}
.table_heat_row_percent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s ease opacity;
}
.editor_container {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  margin: 2rem auto;
  width: 95%;
  max-width: 1440px;
}
.editor-header {
  padding: 1rem;
}
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.preview {
  padding: 1rem;
  margin-top: 1rem;
}
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}
textarea {
  width: 100%;
  min-height: 50vh;
}

.server_error_progress_bar_container {
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 8px;

  border-radius: 4px;
  overflow: hidden;
}

///////////////////////////////
.single_row_num_container {
  position: relative;
  // font-weight: 600;

  &:hover {
    .single_row_num_value {
      opacity: 0;
      transition: 0.2s ease opacity;
    }
    .single_row_num_heat {
      opacity: 1 !important;
      transition: 0.2s ease opacity;
    }
  }
}
.single_row_num_value {
  transition: 0.2s ease opacity;
  font-size: 12px;
  // font-weight: 700;
  // z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.single_row_num_heat {
  transition: 0.2s ease opacity;
  font-weight: 600;
}
.single_row_num_real_data {
  // font-size: 20px;
  font-weight: 500;
}
//SKELETON TABLE LOADING
.table_skeleton_loading {
  margin-top: 3rem;

  > thead {
    th {
      padding: 5px 10px;
    }
  }
  tr {
    height: 50px;
  }
  > thead {
    > tr {
      border: 1px solid rgb(216, 216, 216) !important;
    }
  }
}
